@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito Sans", sans-serif;
}

.gradient-text {
  background-image: linear-gradient(45deg, #8b008b, #0000cd);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.underlines {
  position: relative;
  color: #42446e;
  text-decoration: none; /* Remove default underline */
}

.underlines::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #42446e;
  transition: width 0.3s ease;
}

.underlines:hover::after {
  width: 100%;
}

.active::after {
  width: 100%;
  color: black;
}